.fav-info-root {
  switch {
    // transform: scale(0.8) translate(4px);
    zoom: 0.8;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 256px;
  }

  .fav-list-root {
    width: 100%;

    .fav-list-container {
      display: flex;
      width: 100%;
    }
  }
}


