.root {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
}

.book-root {
  padding: 0 16px;
}

.title {
  font-size: 48px;
  letter-spacing: 4px;
  margin: 8px 0;
}

.info {
  display: flex;
  margin-bottom: 16px;
}

.cover {
  flex: 2;
}

.others {
  padding-left: 16px;
  flex: 3;
  font-size: 25px;

  .item {
    margin-bottom: 8px;
  }
}

.img {
   width: 100%;
}

.action {
  display: flex;
  margin-bottom: 16px;
}

.custom-button {
  margin-right: 16px;
  font-size: 28px;
  padding: 8px 16px;
  border: 2px solid orange;
  border-radius: 8px;
}

.summary {
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.modal-root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.qrcode-root {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 80px 80px 20px 80px;
  background-color: white;
}

.qrcode {
  height: 200PX;
  width: 200PX;
  margin-bottom: 40px;
}

.hide-button {
  margin: auto;
  width: fit-content;
}