page {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", "WenQuanYi Micro Hei", sans-serif;
  background-color: #F8F8F8;
  min-height: 100vh;
}