.thumb-root {
  display: flex;
  margin: 16px;
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 16px;

  .cover {
    flex: 0 0 30%;
  }

  .cover_img {
    width: 100%;
  }
  
  .other {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
  }

  .info {
    flex: 1;
  }
  
  .title {
    font-size: 32px;
  }
  
  .author, .book-type {
    font-size: 28px;
  }

  .del-button {
    font-size: 28px;
    opacity: 0.8;
    letter-spacing: 6px;
  }
}



