.profile-root {
  display: flex;

  .avatar {
    width: 20%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    .logo {
      width: 100%;
    }
  }

  .user-info, .user-button {
    padding-top: 24px; 
    margin-left: 24px;
  }
  
  .user-info {
    .username {
      font-size: 36px;
      letter-spacing: 6px;
    }
    
    .id, .tips {
      font-size: 28px;
      margin-top: 8px;
      color: rgba($color: #000000, $alpha: 0.6)
    }
  }

  .user-button {
    flex: auto;
    display: flex;
    // margin-right: 16px;
    justify-content: flex-end;
  }
}

