.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  .logo {
    width: 25%;
    display: flex;
    margin: 64px 0;

    .logo-img {
      width: 100%;
    }
  }

  Form {
    width: 60%;
  }

  Input {
    font-size: 32px;
    margin-bottom: 40px;
    padding-bottom: 16px;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.5);
  }

  .clear-default-button-style {
    background-color: inherit;
    line-height: normal;
    font-size: inherit;
    padding: 0;
    margin: 0;
  }
  
  .clear-default-button-style::after {
    border: none;
  }

  .btn {
    margin-top: 80px;
    background-color: orange;
    padding: 16px 0;
    font-size: 32px;
    border-radius: 64px;
  }

}