.custom-button-root {
  display: flex;
  align-items: center;

  .custom-button-icon {
    margin-right: 24px;
    opacity: 0.5;
  }
}

.custom-button-disabled {
  color: rgba($color: #000000, $alpha: 0.3)
}

