.w-button-root {
  display: flex;
  // align-items: center;
}

.w-button-disabled {
  color: rgba($color: #000000, $alpha: 0.3)
}

.w-button-primary {
  background-color: orange; // can use scss variable func
}

.clear-default-button-style {
  background-color: inherit;
  line-height: normal;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.clear-default-button-style::after {
  border: none;
}

