.root {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  .search-box {
    margin-bottom: 32px;

    .w-button {
      padding: 0 8px;
    }
  }

  .type-picker {
    margin-bottom: 32px;
  }

  .book-info {
    margin-bottom: 32px;
  }
}
