
.borrowing-board-loading, .no-borrowing {
  padding-top: 56px;
  min-height: 240px;
  width: fit-content;
  margin: auto;
}

.borrowing-board-refresh {
  width: fit-content;
  margin: auto;
  font-size: 32px;
}