.header-root {
  display: flex;

  .avatar {
    width: 20%;
  }
  
  .logo {
    width: 100%;
  }
  
  .user-info {
    margin-left: 24px;
  }
  
  .username {
    font-size: 36px;
    letter-spacing: 6px;
  }
  
  .id {
    font-size: 28px;
    margin-top: 8px;
    color: rgba($color: #000000, $alpha: 0.6)
  }
}

