.root {
  display: flex;
  flex-direction: column;

  .borrow-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 48px;
  }
  
  .profile {
    padding: 24px 0 16px 36px;
    background-color: white;

    .w-button {
      padding: 18px; // iconSize / 2
      margin-left: 16px;
      border-radius: 64px; // iconSize * 2
    }
  }

  .fav-info {
    .book-thumb {
      margin-left: 36px;
    }
  }
}

 




