.search-box-root {
  background-color: #dddddd;
  display: flex;
  align-items: center;
  border-radius: 36px;
  font-size: 36px;
  line-height: 1.8em;
  overflow: hidden;

  .sep {
    width: 2px;
    height: 64px;
    float: left;
    background-color: #ffffff;
    margin: 0 16px;
  }

  .search-input {
    flex: 1;
  }
}





