.search-root {
  background-color: #FFFFFF;
  padding: 16px 0;
  
  .search-box {
    background-color: #F8F8F8;
    display: flex;
    margin: 0 16px;
    padding: 8px;
    border-radius: 24px;
    align-items: flex-end;
    font-size: 36px;

    .search-field-selector {
      padding: 0 16px;
    }
    
  }

}





